<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/mainstyle.css" />
    <title>{{ page.title }}</title>
</head>

<body>
    
<div class="container">    
<div class="header">
    <span class="header-logo-span">HaptiCap<span style="color:#FF5A00">Mag</span></span> 
    <span class="header-subtitle-span"> A haptic compass built into a hat.</span>
</div>

    <div class="content">
        <div class="header-icon-container">
            <div class="header-icon-wrapper header-gh">
                <a href="https://github.com/pganssle/HaptiCap" class="fill-div">&nbsp;</a>
            </div>

            <div class="header-icon-wrapper header-had">
                <a href="http://hackaday.io/project/4078-hapticap" class="fill-div">&nbsp;</a>
            </div>
        </div>
<!-- Start Content -->
<h1>
    {{ page.pageline }}
</h1>

{{ content }}
<!-- End Content -->
        

    </div>
    <div class="sidebar1">
        <ul class="nav">
            <li><a href="index.html">Overview</a></li>
            <li><a href="device-details.html">Device Details</a></li>
            <li><a href="operational-details.html">Operational Details</a></li>
            <li><a href="instructions.html">Instructions</a></li>
            <li><a href="impressions.html">Impressions</a></li>
            <li><a href="https://github.com/pganssle/HaptiCap">Source Code</a></li>
            <li><a href="documentation/html">Documentation</a></li>

        </ul>
    </div>


    <div class="footer">
        <p><div style="float:left; margin-right:15px"><a href="https://creativecommons.org/licenses/by/4.0/"><img src="images/logos/cc-large.png" height="50px"/><img src="images/logos/cc-by-large.png" height="50px"/></a></div>
            <em>Text, images and source code released under a Creative Commons Attribution 4.0 International License (<a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>). If you'd like to use anything under other terms, please contact me to work something out.</em>
        </p>
    </div> <!-- end .footer -->
</div> <!-- end .container -->
</body>
</html>
